{% load i18n %}

{% block subject %}
{% blocktrans %}إعادة تعيين كلمة المرور على Goamico{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}لقد تلقيت هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور لحساب المستخدم الخاص بك على Goamico.{% endblocktrans %}

{% trans "مرحباً، يرجى الانتقال إلى الصفحة التالية واختيار كلمة مرور جديدة:" %}
{{ protocol }}://{{ domain }}/{{ url|safe }}
{% trans "اسم المستخدم الخاص بك، في حال نسيته:" %} {{ user.get_username }}

{% trans "شكراً لاستخدامك موقعنا!" %}

{% blocktrans %}فريق Goamico{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}لقد تلقيت هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور لحساب المستخدم الخاص بك على Goamico.{% endblocktrans %}</p>

<p>{% trans "يرجى الانتقال إلى الصفحة التالية واختيار كلمة مرور جديدة:" %}</p>
<a href="https://raciat-latest.vercel.app/{{ url|safe }}">https://raciat-latest.vercel.app/{{ url|safe }}</a>
<p>{% trans "اسم المستخدم الخاص بك، في حال نسيته:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "شكراً لاستخدامك موقعنا!" %}</p>

<p>{% blocktrans %}فريق Goamico{% endblocktrans %}</p>
{% endblock html_body %}
