{% load i18n %}

{% block subject %}
{% blocktrans %}إعادة تعيين كلمة المرور على راسبات{% endblocktrans %}
{% endblock subject %}

{% block text_body %}
{% blocktrans %}لقد تلقيت هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور لحساب المستخدم الخاص بك على راسبات.{% endblocktrans %}

{% trans "مرحباً، يرجى الانتقال إلى الصفحة التالية واختيار كلمة مرور جديدة:" %}
https://frontend.raciat.com/{{ url|safe }}
{% trans "اسم المستخدم الخاص بك، في حال نسيته:" %} {{ user.get_username }}

{% trans "شكراً لاستخدامك موقعنا!" %}

{% blocktrans %}فريق راسبات{% endblocktrans %}
{% endblock text_body %}

{% block html_body %}
<p>{% blocktrans %}لقد تلقيت هذا البريد الإلكتروني لأنك طلبت إعادة تعيين كلمة المرور لحساب المستخدم الخاص بك على راسبات.{% endblocktrans %}</p>
<p>{% trans "يرجى الانتقال إلى الصفحة التالية واختيار كلمة مرور جديدة:" %}</p>
<a href="https://frontend.raciat.com/{{ url|safe }}">https://frontend.raciat.com/{{ url|safe }}</a>
<p>{% trans "اسم المستخدم الخاص بك، في حال نسيته:" %} <b>{{ user.get_username }}</b></p>

<p>{% trans "شكراً لاستخدامك موقعنا!" %}</p>

<p>{% blocktrans %}فريق Goamico{% endblocktrans %}</p>
{% endblock html_body %}
